{
  "env": {
    "development": {
      "presets": [
        ["env", { "targets": { "electron": "1.4.0" } }],
        "react",
        "latest"
      ],
      "sourceMaps": "inline"
    },
    "production": {
      "presets": [
        ["env", { "targets": { "electron": "1.4.0" } }],
        "react",
        "latest"
      ],
      "sourceMaps": "none"
    }
  }
}
