language: node_js
node_js:
  - "6"
os: osx
osx_image: xcode8.2

cache:
  yarn: true
  directories:
    - node_modules

install:
  - export YARN_GPG=no
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - yarn

script:
  - ./scripts/macos-sign.sh
  - npm run publish

after_failure:
  - cat /Users/travis/build/stanlemon/markbook/yarn-error.log
  - cat /Users/travis/build/stanlemon/markbook/npm-debug.log
